@import '../../../public/scss/vars';

.appinfo {
    flex-wrap: wrap;
    transform: scale(1);
    transform-origin: top right;

    &__alert {
        width: calc(100vw - (#{$widthUnit} * 7.5));
        max-width: $widthUnit * 37.5;
        border-radius: $widthUnit / 2;
        padding: 0 !important;
        box-shadow: 2px 2px 3px 0px #0006;
        border-color: #f9f9f9;
        overflow: hidden;
    }

    &__heading {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .icon {
        color: $blue;
        font-size: $baseline * 6;
        margin-right: $widthUnit;
        position: relative;
        margin-right: 0;

        &:before {
            z-index: 10;
            position: relative;
        }

        &:after {
            content: '';
            width: 30px;
            height: 30px;
            background-color: white;
            display: inline-block;
            position: absolute;
            left: 10px;
            top: 8px;
        }
    }

    &--disabled {
        transform: scale(0);
        transition: transform 0.2s ease-out;
    }

    .alert-dismissible .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0px;
        color: inherit;
        line-height: 16px;
        padding-right: 4px;
    }

    &__close {
        font-size: 16px;
    }

    &__iconcontainer {
        background-color: $white;
        padding: 16px;
    }

    &__text {
        padding: 0px 16px;
        width: 100%;
    }
}